{% extends 'SHOP/index.html' %}
{% load static %}
{%block content%}
<div class="row" class="list_to_filter">
         {% for i in Product %}
        <div class="card" style="width: 15rem;height:20.5rem">
            <img class="card-img-top" src="media/{{ i.image }}" alt="{{ i.product_name }}">
            <div class="card-body">

            <h5 class="card-title" style=" font-size: 12px;">{{ i.product_name }}</h5>
            <p style="font-size: 12px;" class="card-text">{{ i.descriptiom  }}</p>
                <button  data-image="media/{{ i.image }}" data-count="0" data-product_name="{{ i.product_name }}" data-id="{{i.id}}" data-action="add" class="btn btn-primary btn-sm order" >
                ADD TO CART</button>
<!--                <a href="{% url 'cart' %}" style="text-decoration:none;" data-product="{{ i.product_name }}" data-id="{{i.id}}">ADD to cart</a>-->
                <span class="float-right m-sm-1">250</span>
            </div>
        </div>
        {% endfor %}
</div>
{%endblock content%}
